// # ネコの会

/* 
  八幡市ネコの会 CSS
  作成日： 2021/10/08
  作成者： Honda
*/ 

/* ----------------------------------------
    共通 
  ---------------------------------------- */
  // ルール案： ブロックの中身は以下で記述
  // 基本は要素の上から下に記述
  // サイズ的なものから
  // 次にマージンやパディング
  // 色
  // margin-bottomは最後（流れ的に）


li {
  list-style: none;
}

body {
  background-color: #FFFAF0;
  color: #222;
  font-size: 0.875rem;
  font-family: 'Noto Sans JP', sans-serif;
  
}

a {
  color: #222;
  font-size: 0.875rem;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.flex-wrapper {
  display: flex;
}

/* ----------------------------------------
    共通 （ラッパー）
  ---------------------------------------- */

.outer-wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* ----------------------------------------
    ヘッダー
  ---------------------------------------- */

#header {
  width: 1000px;
  height: 50px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: red;

  .logo {
    width: 100px;
    height: 50px;
  }

  ul {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    font-size: 1rem;
    margin-left: 30px;
  }

  a {
    color: #CD853F;
    display: block;
  }
}

.mainvisual {
  height: 100vh;
  background-image: url(/img/mainvisual.png);
  background-size: cover;
  background-position: center top;
  margin-bottom: 80px;

  .mainvisual-content {
    // margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Hiragino Kaku Gothic ProN';

    .line1 {
      font-size: 3rem;
      font-weight: bold;

      .small {
        font-size: 2.5rem;
      }
    }
  }


}
